<app-navbar></app-navbar>

<div class="animate__animated animate__fadeIn">
    <app-carousel></app-carousel>
</div>


<div class="container animate__animated animate__fadeInRight">
    <app-features></app-features>
</div>

<div class="container-fluid bg-light-gray">
    <div class="container animate__animated animate__fadeInLeft">
        <app-why></app-why>
    </div>
</div>

<div class="container">
    <app-detailed-features></app-detailed-features>
</div>

<div class="container-fluid">
    <app-resources></app-resources>
</div>

<div class="container">
    <app-ready></app-ready>
</div>

<app-prefooter></app-prefooter>

<app-footer></app-footer>