<div class="row my-3">
    <div class="col-md-5 col-lg-5 mt-5">
        <div class="text-center">
            <img class="w-100 p-5" src="/assets/img/home/why-book-process.jpg" alt="">
        </div>
    </div>
    <div class="col-md-7 col-lg-7 my-5 text-end p-5">
        <h4 class="me-5 mb-4">¿Por qué elegir <strong>Book</strong>Process?</h4>
        <p class="me-5">La forma de escribir no ha cambiado en mucho tiempo, así que en lugar de hacer otro "word", hicimos la primer herramienta diseñada por y para escritores. <br>Hay quien ha llamado a nuestra herramienta "una gran innovación en el campo". La verdad es que nosotros solo queremos que termines tu libro.</p>

        <p class="me-5">No interrumpas tu flujo de trabajo, nunca pierdas una idea o algo que te inspire, diseña personajes memorables en la hoja de personajes más completa de la red, mantén un registro de tus fuentes, controla el flujo temporal de tu obra con líneas de tiempo y mucho más...</p>
    </div>
</div>