<div class="container-fluid animate__animated animate__fadeIn">
    
    <div class="row mt-5">

        <div class="mb-3 animate__animated animate__fadeIn">
            <div class="">
                <h1>Diccionario de sinónimos/Antónimos</h1>
                <p class="text-muted">Para darle variedad y precisión a tu obra, necesitas un diccionaro de sinónimos y antónimos, aquí te dejamos uno completísimo para que no te distraigas y dediques tu tiepo productivo a crear, no a buscar.</p>
            </div>
        </div>

        <div class="card mb-3 animate__animated animate__fadeIn">
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 d-grid gap-2 offset-lg-3 offset-md-3 offset-sm-0 offset-xs-0">
                        <div class="input-group">
                            <div class="input-group-text rounded-0">Buscar</div>
                            <input type="text" class="form-control rounded-0" placeholder="Ingresa el término a buscar">
                        </div>
                    </div>

                    <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        <button class="btn bg-orange text-white rounded-0">Buscar</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Results -->
        <div class="card mb-3 px-0 animate__animated animate__fadeIn">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 d-grid gap-2 py-1 offset-lg-3 offset-md-3 offset-sm-0 offset-xs-0">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, incidunt. Cumque voluptas cum laudantium iusto quas ut eveniet eaque tempora culpa, vero voluptatem, labore ratione nihil? Eaque similique deleniti quod?</p>
                        
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, incidunt. Cumque voluptas cum laudantium iusto quas ut eveniet eaque tempora culpa, vero voluptatem, labore ratione nihil? Eaque similique deleniti quod?</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted text-end text-dark">
                <a class="pe-3 text-decoration-none text-orange" [routerLink]="['/private', 'dashboard', 'resources', 'dictionary', 'pabbreviation']">Ver las abreviaturas usadas aquí ></a>
            </div>
        </div>

    </div>
</div>