<div class="container-fluid mt-5 mb-3">

        <div class="row my-7 animate__animated animate__fadeIn">
    
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-start">
                <button *ngIf="exportPlay" (click)="exportAsPDF( fileName )" class="btn btn-danger text-white rounded-0">PDF <i class="bi bi-download"></i></button>
                <button *ngIf="exportPlay" (click)="exportAsDOCX( fileName )" class="btn btn-primary ms-2 rounded-0">Word (docx) <i class="bi bi-download"></i></button>
                
                <button *ngIf="!exportPlay" (click)="getPremium()" class="btn btn-danger text-white rounded-0"><i class="bi bi-lock"></i> PDF <i class="bi bi-download"></i></button>
                <button *ngIf="!exportPlay" (click)="getPremium()" class="btn btn-primary ms-2 rounded-0"><i class="bi bi-lock"></i> Word (docx) <i class="bi bi-download"></i></button>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-end">
                <button [routerLink]="['../']" class="btn bg-secondary text-white ms-2 rounded-0">Regresar al editor</button>
                <button [routerLink]="['/private', 'dashboard', 'editor']" class="btn bg-secondary text-white ms-2 rounded-0">Regresar a obras</button>
            </div>
        </div>

    
    <div class="card my-2 animate__animated animate__fadeIn"> 
        <div id="quill-editor-content" class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-center mt-4">{{ work.title }}</h2>
                    <h4 class="text-center">Autor: {{ work.author }}</h4>
    
                    <br>
    
                    <div class="text-wrap"  [innerHTML]="work.bodyContent"></div>
                </div>
            </div>
        </div>
    </div>
</div>
