<div class="row mt-5">

  <h3 class="text-center my-4">Características</h3>

  <div class="col-md-8 offset-md-2">

    <ul class="nav nav-tabs nav-justified px-3" id="tabsHome" role="tablist">
      <li class="nav-item my-3" role="presentation">
        <a class="nav-link text-dark active" id="home-tab" data-bs-toggle="tab" href="#characters" role="tab" aria-controls="home"
          aria-selected="true">{{ 'home.detailedFeatures.tab1.title' | translate }}</a>
      </li>
      <li class="nav-item my-3" role="presentation">
        <a class="nav-link text-dark" id="profile-tab" data-bs-toggle="tab" href="#sources" role="tab" aria-controls="profile"
          aria-selected="false">{{ 'home.detailedFeatures.tab2.title' | translate }}</a>
      </li>
      <li class="nav-item my-3" role="presentation">
        <a class="nav-link text-dark" id="contact-tab" data-bs-toggle="tab" href="#notes" role="tab" aria-controls="contact"
          aria-selected="false">{{ 'home.detailedFeatures.tab3.title' | translate }}</a>
      </li>
      <li class="nav-item my-3" role="presentation">
        <a class="nav-link text-dark" id="contact-tab" data-bs-toggle="tab" href="#interface" role="tab" aria-controls="contact"
          aria-selected="false">{{ 'home.detailedFeatures.tab4.title' | translate }}</a>
      </li>
    </ul>
  
    <div class="tab-content" id="myTabContent">

      <!-- Characters -->
      <div class="tab-pane fade show active" id="characters" role="tabpanel" aria-labelledby="home-tab">
        <div class="row mt-5">
          <div class="col-md-6 mt-5">
            <!-- <h1>{{ 'home.detailedFeatures.tab1.title' | translate }}</h1> -->
            <h1>Personajes</h1>
            <!-- <p>{{ 'home.detailedFeatures.tab1.paragraph' | translate }}</p> -->
            <p>Crea personajes creíbles, relevantes e interesantes desarrollándolos en la ficha de personaje más completa de la red. Controla cada aspecto del lore de tu obra y crea una historia realista y creíble.</p>
          </div>
  
          <div class="col-md-6 text-center">
            <img src="/assets/img/home/characters.jpg" class="rounded-0 mx-auto d-block img-fluid" alt="Charachters sheet">
          </div>
        </div>
      </div>
  
      <!-- Time line -->
      <div class="tab-pane fade" id="sources" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row mt-5">
          <div class="col-md-6 text-center">
            <img src="/assets/img/home/time-line.jpg" class="rounded-0 mx-auto d-block img-fluid" alt="Time-line control">
          </div>
  
          <div class="col-md-6 mt-5">
            <div class="text-end">
              <h1>{{ 'home.detailedFeatures.tab2.title' | translate }}</h1>
              <p>{{ 'home.detailedFeatures.tab2.paragraph' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Notes -->
      <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row mt-5">
          <div class="col-md-6">
            <h1>{{ 'home.detailedFeatures.tab3.title' | translate }}</h1>
            <p>{{ 'home.detailedFeatures.tab3.paragraph' | translate }}</p>
          </div>
          
          <div class="col-md-6 text-center">
            <img src="/assets/img/home/notes.jpg" class="rounded-0 mx-auto d-block img-fluid" alt="Notes control">
          </div>
        </div>
      </div>

      <!-- more -->
      <div class="tab-pane fade" id="interface" role="tabpanel" aria-labelledby="contact-tab">
        <div class="row mt-5">
          <div class="col-md-6 text-center">
            <img src="/assets/img/home/more.jpg" class="rounded-0 mx-auto d-block img-fluid" alt="Much more">
          </div>
  
          <div class="col-md-6">
            <div class="mt-5">
              <h1>{{ 'home.detailedFeatures.tab4.title' | translate }}</h1>
              <p>{{ 'home.detailedFeatures.tab4.paragraph' | translate }}</p>
            </div>
          </div>
        </div>
      </div>

  </div>
  
</div>