<div class="container"><div class="row"><div class="col my-4"></div></div></div>

<div class="container-fluid animate__animated animate__fadeIn">
    <div class="row mt-5">

      <!-- card generador de nombres -->
        <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-3">
                <img class="img-fluid" src="assets/img/functions/example-function.jpg" alt="...">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">Generador de Nombres</h5>
                  <p class="card-text">Te brindamos un punto de partida para inspirarte y crear los nombres de tus personajes, están clasificados por género y origen, además cuentas con un generador de apodos que te puede ayudar a complementar la creación de tu personaje.</p>
                  <p class="card-text"><small class="text-muted">Función con el objetivo de inspirar y apoyar al escritor, se pueden usar los nombres generados como definitivos aunque no se recomienda.</small></p>
                  <a class="text-danger" routerLink="gen-name">Ir al generador de nombres ></a>
                </div>
              </div>
            </div>
          </div>
        
          <!-- card diccionario -->
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">Diccionario</h5>
                  <p class="card-text">¿Sabías que el 89% del tiempo considerado <strong>no productivo</strong> es provocado por el diseño distractor de internet? Te brindamos un <strong>completísimo diccionario</strong> para que tengas todo a la mano, no te distraigas y cumplas tu objetivo.</p>
                  <p class="card-text"><small class="text-muted">El diccionario se amplía y actualiza constantemente.</small></p>
                  <a class="text-danger" routerLink="dictionary">Ir al diccionario ></a>
                </div>
              </div>
              <div class="col-md-3 text-end">
                <img class="img-fluid" src="assets/img/functions/dictionary.jpg" alt="...">
              </div>
            </div>
          </div>

          <!-- card diccionario sinónimos y antónimos -->
          <div class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-md-3">
                <img class="img-fluid" src="assets/img/functions/dictionary-sa.jpg" alt="...">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">Diccionario de Sinónimos y Antónimos</h5>
                  <p class="card-text">Evita las cacofonías en tu texto usando sinónimos. Ponemos a tu disosición un diccionario de sinónimos y antónimos para facilitar la tarea de darle variedad y presición a tu obra.</p>
                  <p class="card-text"><small class="text-muted">El diccionario se amplía y actualiza constantemente.</small></p>
                  <a class="text-danger" routerLink="gen-name">Ir al diccionario de sinónimos y antónimos ></a>
                </div>
              </div>
            </div>
          </div>

    </div>
</div>