<div class="container mt-5 mb-3">
    <div class="row g-4">

        <div class="col">
            <h1 class="text-center pt-5 pb-3">Abreviaturas usadas</h1>
            <p class="text-muted text-center">Consulta aquí las abreviaturas usadas a lo largo del diccionario.</p>

            <div class="text-center py-4">
                <img class="px-0" src="assets/img/about/line.jpg" alt="">
            </div>
        </div>

    </div>
</div>

<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col text-end">
            <button [routerLink]="['/private', 'dashboard', 'resources', 'dictionary']" class="btn btn-secondary text-white rounded-0">Regresar al diccionario</button>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="font-monospace">
                <p><strong>a.:</strong> alto</p>
                <p><strong>abl.:</strong> ablativo</p>
                <p><strong>abrev.:</strong> abreviación</p>
                <p><strong>acep.:</strong> acepción</p>
                <p><strong>acort.:</strong> acortamiento</p>
                <p><strong>acrón.:</strong> acrónimo</p>
                <p><strong>act.:</strong> activo</p>
                <p><strong>acus.:</strong> acusativo</p>
                <p><strong>Acús.:</strong> acústica</p>
                <p><strong>adapt.:</strong> adaptación; adaptado</p>
                <p><strong>adj.:</strong> adjetivo</p>
                <p><strong>adv.:</strong> adverbio; adverbial</p>
                <p><strong>advers.:</strong> adversativo</p>
                <p><strong>Aer.:</strong> aeronáutica</p>
                <p><strong>afect.:</strong> afectivo</p>
                <p><strong>afér.:</strong> aféresis</p>
                <p><strong>Agr.:</strong> agricultura</p>
                <p><strong>aim.:</strong> aimara</p>
                <p><strong>al.:</strong> alemán</p>
                <p><strong>ÁI.:</strong> Álava</p>
                <p><strong>Alb.:</strong> Albacete</p>
                <p><strong>Alm.:</strong> Almería</p>
                <p><strong>Alq.:</strong> alquimia</p>
                <p><strong>alterac.:</strong> alteración</p>
                <p><strong>alus.:</strong> alusión</p>
                <p><strong>Am.:</strong> América</p>
                <p><strong>Am. Cen.:</strong> América Central</p>
                <p><strong>amer.:</strong> americano</p>
                <p><strong>Am. Mer.:</strong> América Meridional</p>
                <p><strong>Anat.:</strong> anatomía</p>
                <p><strong>And.:</strong> Andalucía</p>
                <p><strong>ant.:</strong> anticuado; antiguo</p>
                <p><strong>Ant.:</strong> Antillas</p>
                <p><strong>antonom.:</strong> antonomasia</p>
                <p><strong>Antrop.:</strong> antropología</p>
                <p><strong>apl.:</strong> aplicado</p>
                <p><strong>apóc.:</strong> apócope</p>
                <p><strong>a pos.:</strong> aposición</p>
                <p><strong>Ar.:</strong> Aragón</p>
                <p><strong>ár.:</strong> árabe</p>
                <p><strong>arag.:</strong> aragonés</p>
                <p><strong>Arg.:</strong> Argentina</p>
                <p><strong>Arq.:</strong> arquitectura</p>
                <p><strong>Arqueol.:</strong> arqueología</p>
                <p><strong>art.:</strong> artículo</p>
                <p><strong>ast.:</strong> asturiano</p>
                <p><strong>Ast.:</strong> Asturias</p>
                <p><strong>Astro l.:</strong> astrología</p>
                <p><strong>Astron.:</strong> astronomía</p>
                <p><strong>atóm.:</strong> atómico</p>
                <p><strong>aum.:</strong> aumentativo</p>
                <p><strong>aux.:</strong> auxiliar; verbo auxiliar</p>
                <p><strong>Áv.:</strong> Ávila</p>
                <p><strong>b.:</strong> bajo</p>
                <p><strong>Bad.:</strong> Badajoz</p>
                <p><strong>Bal.:</strong> Islas Baleares</p>
                <p><strong>berb.:</strong> bereber</p>
                <p><strong>Bil.:</strong> Bilbao</p>
                <p><strong>Biol.:</strong> biología</p>
                <p><strong>Bioquím.:</strong> bioquímica</p>
                <p><strong>Bol.:</strong> Bolivia</p>
                <p><strong>Bot.:</strong> botánica</p>
                <p><strong>Burg.:</strong> Burgos</p>
                <p><strong>c.:</strong> como</p>
                <p><strong>Các.:</strong> Cáceres</p>
                <p><strong>Cád.:</strong> Cádiz</p>
                <p><strong>Can.:</strong> Canarias</p>
                <p><strong>Cantb.:</strong> Cantabria</p>
                <p><strong>Carp.:</strong> carpintería</p>
                <p><strong>Cast.:</strong> Castilla</p>
                <p><strong>cat.:</strong> catalán</p>
                <p><strong>Cat.:</strong> Cataluña</p>
                <p><strong>celtolat.:</strong> celtolatino</p>
                <p><strong>cf.:</strong> confer</p>
                <p><strong>cient.:</strong> científico</p>
                <p><strong>Cineq.:</strong> cinegética</p>
                <p><strong>Cinem.:</strong> cinematografía</p>
                <p><strong>clás.:</strong> clásico</p>
                <p><strong>Col.:</strong> Colombia</p>
                <p><strong>coloq.:</strong> coloquial</p>
                <p><strong>Com.:</strong> comercio</p>
                <p><strong>comp.:</strong> comparativo</p>
                <p><strong>compos.:</strong> compositivo</p>
                <p><strong>conc.:</strong> concesivo</p>
                <p><strong>condic.:</strong> condicional</p>
                <p><strong>conj.:</strong> conjunción</p>
                <p><strong>conjug.:</strong> conjugación</p>
                <p><strong>conjunt.:</strong> conjuntivo</p>
                <p><strong>Constr.:</strong> construcción</p>
                <p><strong>contracc.:</strong> contracción</p>
                <p><strong>copula t.:</strong> copulativo; verbo copulativo</p>
                <p><strong>Córd.:</strong> Córdoba</p>
                <p><strong>C. Real:</strong> Ciudad Real</p>
                <p><strong>C. Rica:</strong> Costa Rica</p>
                <p><strong>Cuen.:</strong> Cuenca</p>
                <p><strong>cult.:</strong> culto</p>
                <p><strong>dat.:</strong>dativo</p>
                <p><strong>deformac.:</strong> deformación</p>
                <p><strong>dem.:</strong> demostrativo</p>
                <p><strong>Dep.:</strong> deportes</p>
                <p><strong>der.:</strong> derivado</p>
                <p><strong>Der.:</strong> derecho</p>
                <p><strong>dese.:</strong> desconocido</p>
                <p><strong>despect.:</strong> despectivo</p>
                <p><strong>desus.:</strong> desusado</p>
                <p><strong>deter.:</strong> determinado</p>
                <p><strong>dialect.:</strong> dialectal</p>
                <p><strong>dim.:</strong> diminutivo</p>
                <p><strong>disc.:</strong> discutido</p>
                <p><strong>distrib.:</strong> distributivo</p>
                <p><strong>disyunt.:</strong> disyuntivo</p>
                <p><strong>Ec.:</strong> Ecuador</p>
                <p><strong>Ecd.:</strong> ecdótica</p>
                <p><strong>E col.:</strong> ecología</p>
                <p><strong>Econ.:</strong> economía</p>
                <p><strong>EE. UU.:</strong> Estados U nidos</p>
                <p><strong>Electr.:</strong> electricidad; electrónica</p>
                <p><strong>elem.:</strong> elemento</p>
                <p><strong>El Salv.:</strong> El Salvador</p>
                <p><strong>Equit.:</strong> equitación</p>
                <p><strong>Ese.:</strong> escultura</p>
                <p><strong>eser.:</strong> escrito</p>
                <p><strong>Esgr.:</strong> esgrima</p>
                <p><strong>esp.:</strong> español</p>
                <p><strong>Esp.:</strong> España</p>
                <p><strong>Estad.:</strong> estadística</p>
                <p><strong>estud.:</strong> estudiantil</p>
                <p><strong>etim.:</strong> etimología</p>
                <p><strong>eufem.:</strong> eufemismo; eufemístico</p>
                <p><strong>excl.:</strong> exclamativo</p>
                <p><strong>expr.:</strong> expresión; expresivo</p>
                <p><strong>ext.:</strong> extensión</p>
                <p><strong>Ext.:</strong> Extremadura</p>
                <p><strong>f.:</strong> femenino; nombre femenino</p>
                <p><strong>f est.:</strong> festivo</p>
                <p><strong>fig.:</strong> figurado</p>
                <p><strong>Fil.:</strong> filosofía</p>
                <p><strong>F ilip.:</strong> Filipinas</p>
                <p><strong>F is.:</strong> física</p>
                <p><strong>Fisiol.:</strong> fisiología</p>
                <p><strong>Fon.:</strong> fonética; fonología</p>
                <p><strong>Fórm.:</strong> fórmula</p>
                <p><strong>Fotogr.:</strong> fotografía</p>
                <p><strong>fr.:</strong> francés</p>
                <p><strong>fr.:</strong> frase</p>
                <p><strong>free.:</strong> frecuentativo</p>
                <p><strong>free.:</strong> frecuentemente</p>
                <p><strong>fut.:</strong> futuro</p>
                <p><strong>Gal.:</strong> Galicia</p>
                <p><strong>gall.:</strong> gallego</p>
                <p><strong>gallegoport.:</strong> gallegoportugués</p>
                <p><strong>gal ola t.:</strong> galo latino</p>
                <p><strong>genit.:</strong> genitivo</p>
                <p><strong>Geogr.:</strong> geografía</p>
                <p><strong>Geol.:</strong> geología</p>
                <p><strong>Geom.:</strong> geometría</p>
                <p><strong>ger.:</strong> gerundio</p>
                <p><strong>germ.:</strong> germanía</p>
                <p><strong>germ.:</strong> germánico</p>
                <p><strong>gót.:</strong>gótico</p>
                <p><strong>gr.:</strong> griego</p>
                <p><strong>Gram.:</strong> gramática</p>
                <p><strong>Gran.:</strong> Granada</p>
                <p><strong>Gran Can.:</strong> Gran Canaria</p>
                <p><strong>Guad.:</strong> Guadalajara</p>
                <p><strong>guar.:</strong> guaraní</p>
                <p><strong>Guat.:</strong> Guatemala</p>
                <p><strong>Guin.:</strong> Guinea Ecuatorial</p>
                <p><strong>Guip.:</strong> Guipúzcoa</p>
                <p><strong>hebr.:</strong> hebreo</p>
                <p><strong>Heráld.:</strong> heráldica</p>
                <p><strong>hisp.:</strong> hispánico</p>
                <p><strong>Hond.:</strong> Honduras</p>
                <p><strong>Huel.:</strong> Huelva</p>
                <p><strong>Hues.:</strong> Huesca</p>
                <p><strong>ilat.:</strong> ilativo</p>
                <p><strong>imit.:</strong> imitación; imitativo</p>
                <p><strong>imper.:</strong> imperativo</p>
                <p><strong>im perf.:</strong> imperfecto</p>
                <p><strong>impers.:</strong> impersonal; verbo impersonal</p>
                <p><strong>Impr.:</strong> imprenta</p>
                <p><strong>inc.:</strong> incierto</p>
                <p><strong>incoa t.:</strong> incoativo</p>
                <p><strong>indef.:</strong> indefinido</p>
                <p><strong>indet.:</strong> indeterminado</p>
                <p><strong>indic.:</strong> indicativo</p>
                <p><strong>inf ant.:</strong> infantil</p>
                <p><strong>infinit.:</strong> infinitivo</p>
                <p><strong>infl.:</strong> influencia; influido; influjo</p>
                <p><strong>Inform.:</strong> informática</p>
                <p><strong>Ingen.:</strong> ingeniería</p>
                <p><strong>ingl.:</strong> inglés</p>
                <p><strong>intens.:</strong> intensivo</p>
                <p><strong>interj.:</strong> interjección; interjectivo</p>
                <p><strong>interrog.:</strong> interrogativo</p>
                <p><strong>intr.:</strong> intransitivo; verbo intransitivo</p>
                <p><strong>inus.:</strong> inusual</p>
                <p><strong>irl.:</strong> irlandés</p>
                <p><strong>írón.:</strong> irónico</p>
                <p><strong>irreg.:</strong> irregular</p>
                <p><strong>it.:</strong> italiano</p>
                <p><strong>jap.:</strong> japonés</p>
                <p><strong>jerg.:</strong> jerga; jergal</p>
                <p><strong>lat.:</strong> latín; latino</p>
                <p><strong>leng.:</strong> lenguaje</p>
                <p><strong>leon.:</strong> leonés</p>
                <p><strong>Ling.:</strong> lingüística</p>
                <p><strong>loe.:</strong> locución</p>
                <p><strong>m.:</strong> masculino; nombre masculino</p>
                <p><strong>[u.] m.:</strong> [usado] más</p>
                <p><strong>m. or.:</strong> mismo origen</p>
                <p><strong>Mad.:</strong> Madrid</p>
                <p><strong>Mál.:</strong> Málaga</p>
                <p><strong>malson.:</strong> malsonante</p>
                <p><strong>Man.:</strong> La Mancha</p>
                <p><strong>Mar.:</strong> marina</p>
                <p><strong>Mat.:</strong> matemáticas</p>
                <p><strong>may.:</strong> mayúscula</p>
                <p><strong>Mee.:</strong> mecánica</p>
                <p><strong>Med.:</strong> medicina</p>
                <p><strong>metapl.:</strong> metaplasmo</p>
                <p><strong>metát.:</strong> metátesis</p>
                <p><strong>Meteor.:</strong> meteorología</p>
                <p><strong>M étr.:</strong> métrica</p>
                <p><strong>Méx.:</strong> México</p>
                <p><strong>Mil.:</strong> milicia</p>
                <p><strong>Mit.:</strong> mitología</p>
                <p><strong>mod.:</strong> moderno</p>
                <p><strong>mozár.:</strong> mozárabe</p>
                <p><strong>Mur.:</strong> Murcia</p>
                <p><strong>Mús.:</strong> música</p>
                <p><strong>n.:</strong> neutro</p>
                <p><strong>n. p.:</strong> nombre propio</p>
                <p><strong>Nav.:</strong> Navarra</p>
                <p><strong>neerl.:</strong> neerlandés</p>
                <p><strong>neg.:</strong> negación</p>
                <p><strong>negat.:</strong> negativo</p>
                <p><strong>Nic.:</strong> Nicaragua</p>
                <p><strong>nórd.:</strong> nórdico</p>
                <p><strong>núm.:</strong> número</p>
                <p><strong>Numism.:</strong> numismática</p>
                <p><strong>occid.:</strong> occidental</p>
                <p><strong>oc cit.:</strong> occitano</p>
                <p><strong>onomat.:</strong> onomatopeya; onomatopéyico</p>
                <p><strong>Ópt.:</strong> óptica</p>
                <p><strong>or.:</strong> origen</p>
                <p><strong>orient.:</strong> oriental</p>
                <p><strong>Ortogr.:</strong> ortografía</p>
                <p><strong>Pal.:</strong> Palencia</p>
                <p><strong>Pan.:</strong> Panamá</p>
                <p><strong>Par.:</strong> Paraguay</p>
                <p><strong>Parapsicol.:</strong> parapsicología</p>
                <p><strong>part.:</strong> participio</p>
                <p><strong>pas.:</strong> pasivo</p>
                <p><strong>perf.:</strong> perfecto</p>
                <p><strong>pers.:</strong> persona</p>
                <p><strong>person.:</strong> personal</p>
                <p><strong>peyor.:</strong> peyorativo</p>
                <p><strong>P int.:</strong> pintura</p>
                <p><strong>pl.:</strong> plural</p>
                <p><strong>poét.:</strong> poético</p>
                <p><strong>ponder.:</strong> ponderativo</p>
                <p><strong>pop.:</strong> popular</p>
                <p><strong>port.:</strong> portugués</p>
                <p><strong>poses.:</strong> posesivo</p>
                <p><strong>pre f.:</strong> prefijo</p>
                <p><strong>prep.:</strong> preposición</p>
                <p><strong>prepos.:</strong> preposicional</p>
                <p><strong>pres.:</strong> presente</p>
                <p><strong>pret.:</strong> pretérito</p>
                <p><strong>P. Rico:</strong> Puerto Rico</p>
                <p><strong>prnl.:</strong> pronominal; verbo pronominal</p>
                <p><strong>pron.:</strong> pronombre</p>
                <p><strong>pronom.:</strong> pronominal</p>
                <p><strong>prov.:</strong> provenzal</p>
                <p><strong>Psi col.:</strong> psicología</p>
                <p><strong>Psiquiatr.:</strong> psiquiatría</p>
                <p><strong>p. us.:</strong> poco usado</p>
                <p><strong>P. Vasco:</strong> País Vasco</p>
                <p><strong>Quím.:</strong> química</p>
                <p><strong>R. Dom.:</strong> República Dominicana</p>
                <p><strong>ref.:</strong> referido</p>
                <p><strong>refl.:</strong> reflexivo</p>
                <p><strong>reg.:</strong> regular</p>
                <p><strong>[marca] reg.:</strong> [marca] registrada</p>
                <p><strong>regres.:</strong> regresivo</p>
                <p><strong>Rel.:</strong> religión</p>
                <p><strong>relat.:</strong> relativo</p>
                <p><strong>Ret.:</strong> retórica</p>
                <p><strong>rur.:</strong> rural</p>
                <p><strong>s.:</strong> sustantivo</p>
                <p><strong>Sal.:</strong> Salamanca</p>
                <p><strong>sánscr.:</strong> sánscrito</p>
                <p><strong>Seg.:</strong> Segovia</p>
                <p><strong>sen t.:</strong> sentido</p>
                <p><strong>Sev.:</strong> Sevilla</p>
                <p><strong>Símb.:</strong> símbolo</p>
                <p><strong>sínc.:</strong> síncopa</p>
                <p><strong>sing.:</strong> singular</p>
                <p><strong>Socio l.:</strong> sociología</p>
                <p><strong>Sor.:</strong> Soria</p>
                <p><strong>subj.:</strong> subjuntivo</p>
                <p><strong>suf .:</strong> sufijo</p>
                <p><strong>sup.:</strong> superlativo</p>
                <p><strong>sus t.:</strong> sustantivo</p>
                <p><strong>t.:</strong> terminación</p>
                <p><strong>[conj.] t.:</strong> [conjunción] temporal</p>
                <p><strong>[u.] t.:</strong> [usado] también</p>
                <p><strong>Taurom.:</strong> tauromaquia</p>
                <p><strong>Tb.:</strong> también</p>
                <p><strong>Tecnol.:</strong> tecnologías</p>
                <p><strong>Telec.:</strong> telecomunicación</p>
                <p><strong>Ter.:</strong> Teruel</p>
                <p><strong>T. lit.:</strong> teoría literaria</p>
                <p><strong>Tol.:</strong> Toledo</p>
                <p><strong>Topogr.:</strong> topografía</p>
                <p><strong>tr.:</strong> transitivo; verbo transitivo</p>
                <p><strong>trad.:</strong> traducción</p>
                <p><strong>Transp.:</strong> transportes</p>
                <p><strong>TV.:</strong> televisión</p>
                <p><strong>u.:</strong> usado</p>
                <p><strong>Ur.:</strong> Uruguay</p>
                <p><strong>Urb.:</strong> urbanismo</p>
                <p><strong>V.:</strong> véase</p>
                <p><strong>Val.:</strong> Valencia</p>
                <p><strong>Vall.:</strong> Valladolid</p>
                <p><strong>var.:</strong> variante</p>
                <p><strong>Ven.:</strong> Venezuela</p>
                <p><strong>verb.:</strong> verbal</p>
                <p><strong>Veter.:</strong> veterinaria</p>
                <p><strong>Vizc.:</strong> Vizcaya</p>
                <p><strong>vocat.:</strong> vocativo</p>
                <p><strong>vulg.:</strong> vulgar</p>
                <p><strong>Zam.:</strong> Zamora</p>
                <p><strong>Zar.:</strong> Zaragoza</p>
                <p><strong>Zool.:</strong> zoología</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col text-end">
            <button [routerLink]="['/private', 'dashboard', 'resources', 'dictionary']" class="btn btn-secondary text-white rounded-0">Regresar al diccionario</button>
        </div>
    </div>
</div>