<app-navbar></app-navbar>

<div class="container">
    <div class="row my-3">
        <div class="col-md-8 col-sm-12 offset-md-2 offset-sm-0 animate__animated animate__fadeIn">

            <div class="card my-5 login-box">
                <div class="card-body">
                  <h2 class="text-center card-title">Recuperar contraseña</h2>
                  <hr>

                  <div *ngIf="errorEmail" class="alert alert-danger animate__animated animate__fadeIn" role="alert">
                    <h6 class="alert-heading text-center">El correo electrónico ingresado no existe.</h6>
                    <hr>
                    <p>El correo electrónico <strong>{{ userEmail.value }}</strong> no se encuentra relacionado a ninguna cuenta de usuario en este sistema, si no tienes una cuenta de usuario puedes crearla <a class="alert-link" [routerLink]="['/auth', 'register']" >haciendo clic aquí</a>.
                    </p>
                  </div>
                  
                  <p class="card-text text-center">Por favor ingresa tu cuenta de correo electrónico, revisa tu bandeja de entrada y sigue las instrucciones.</p>
                  <div class="form-group text-center">
                      <input type="email" class="form-control mt-3" [class.is-invalid]="emailNoValid" [class.is-valid]="emailValid" [formControl]="userEmail" >
                      <button [disabled]="!userEmail.value" class="btn bg-orange text-white rounded-0 my-3" (click)="onResetPassword()">Recuperar mi contraseña</button>
                  </div>

                </div>
              </div>

        </div>
    </div>
</div>

<app-prefooter></app-prefooter>

<app-footer></app-footer>