<app-navbar></app-navbar>

<div class="container"><div class="row"><div class="col my-4"></div></div></div>

<div class="container">
    <div class="row mt-5 mb-3 text-center">
        <div class="col">
            <app-first-row></app-first-row>
        </div>
    </div>
</div>

<!-- Quitar el color background y pasarlo al css -->
<div class="row mt-5 text-center bg-info">
    <div class="col">
        <div class="container">
            <div class="row">
                <app-prices-table></app-prices-table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="offset-2 col-8">
            <app-prices-faq></app-prices-faq>
        </div>
    </div>
</div>

<app-prefooter></app-prefooter>

<app-footer></app-footer>