<app-navbar></app-navbar>


<div class="container mt-3 mb-3">
    <div class="row g-4">

        <div class="col">
            <h1 class="text-center pt-5 pb-3 fs-2">Características Principales</h1>
            
            <div class="text-center py-4">
                <img class="px-0" src="assets/img/about/line.jpg" alt="">
            </div>

        </div>
        
    </div>
</div>

<div class="container">
    <div class="row bg-features">
        <!-- <div class="offset-lg-1 offset-md-1 offset-sm-0 offset-xs-0 col-lg-10 col-md-10 col-sm-12 col-xs-12 py-5 px-7"></div> -->
        
        <div class="offset-lg-1 offset-md-1 offset-sm-0 offset-xs-0 col-lg-10 col-md-10 col-sm-12 col-xs-12 py-5 px-7">
            <p class="text-white text-justify py-7 fs-5">Antes de listar todas las funcionalidades que te ayudarán en tu camino al éxito literario, quiero comentarte que
                hay varias más en pleno desarrollo, muchas de ellas sugerencias de nuestros propios usuarios, en
                <strong>BookProcess te escuchamos</strong> y hacemos todo lo que está en nuestra mano para brindarte esa función
                que necesitas, por supuesto, sin ningún costo extra o letra pequeña, <strong>trabajamos para ti.</strong></p>
        </div>

        <!-- <div class="offset-lg-2 offset-md-2 offset-sm-0 offset-xs-0 col-lg-8 col-md-8 col-sm-12 col-xs-12 py-5 px-7"></div> -->

        
    </div>

    <div class="row">
        <div class="text-center pt-4">
            <img class="px-0" src="assets/img/about/line.jpg" alt="">
        </div>
    </div>
</div>

<div class="container">

    <div class="row py-6">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h3 class="py-3 text-orange text-end fs-1">Herramientas <strong>para</strong> <br> escritores.</h3>
        </div>
    
        <div class="offset-lg-1 offset-md-1 offset-sm-0 offset-xs-0 col-lg-7 col-md-7 col-sm-12 col-xs-12 bg-light-gray">
            <p class="p-4 fs-5"><strong>Estas herramientas están disponibles para todos los usuarios registrados</strong> no es necesario tener una cuenta de pago para acceder a ellas.</p>
        </div>
    </div>

    <div class="container">
        <div class="row gx-3 gy-3">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 h-100">
           <div class="p-3 border bg-light bg-gen-name">
               <h4 class="pt-4 px-4"><a class="text-white text-decoration-none">Generador <br> de nombres ></a></h4>
           
               <p class="text-white pt-7 px-4 pb-2">Ponemos a tu disposición el generador de nombres aleatorios <strong>más preciso de la red</strong>, selecciona el género y el origen de tu personaje y nosotros te haremos una sugerencia de nombre.</p>
           </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 h-100">
            <div class="p-3 border bg-light bg-diccionary">
                <h4 class="pt-4 px-4"><a class="text-white text-decoration-none" href="">Diccionario ></a></h4>
            
                <p class="text-white pt-7 px-4 pb-2">¿No encuentras una definición? ¿Necesitas saber si la descripción que estás desarrollando es
                    precisa? Te brindamos acceso a un diccionario en español muy completo para que no te distraigas
                    buscando aquí o allá.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 h-100">
            <div class="p-3 border bg-light bg-sa-dictionary">
                <h4 class="pt-4 px-4"><a class="text-white text-decoration-none" href="">Diccionario de Sinónimos <br> y Antónimos ></a></h4>
            
                <p class="text-white pt-7 px-4 pb-2">Ampliar y darle variedad al vocabulario de tu obra es <strong>vital</strong> para evitar la
                    monotonía en tus lectores. Para eso te brindamos un diccionario de sinónimos y antónimos, de
                    este modo nunca te faltará variedad o frescura a la hora de ecribir.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 h-100">
              <div class="p-3 border bg-light bg-ph-dictionary">
                <h4 class="pt-4 px-4"><a class="text-white text-decoration-none" href="">Diccionario <br> de Física ></a></h4>
            
                <p class="text-white pt-7 px-4 pb-2">Sí, muchos escritores nos metemos en temas que no siempre dominamos (es natural y recomendable)
                    por suerte tenemos para ti un gran diccionario de física para que tu obra sea todo lo precisa
                    que tú quieras.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center pt-6 pb-4"><img src="assets/img/about/line.jpg" alt="" class="px-0"></div>

      <div class="row py-4">
        <div class="offset-lg-5 offset-md-5 offset-sm-0 offset-xs-0 col-lg-7 col-md-7 col-sm-12 col-xs-12">
            <h3 class="py-3 text-orange text-end fs-2">Funcionalidades que te ayudarán en el <br> camino de terminar tu obra:</h3>
        </div>
    </div>

    <div class="row">

            <div class="row g-0">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="card-body">
                                <h4 class="pt-3 text-dark">Obra</h4>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="card-body">
                            <p>Ponemos a tu disposición un editor de texto online en el que puedes crear el previo de tu obra para exportarlo después y tener el archivo origen para publicar en amazon o enviar a la editorial. Puedes ingresar a ese dditor desde cualquier navegador web.</p>
                        </div>
                    </div>
            </div>

            <hr>

            <div class="row g-0">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="card-body">
                                <h4 class="pt-3 text-dark">Personajes</h4>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="card-body">
                            <p>Contarás con la hoja de personaje más completa de la red y lo mejor de todo es que si necesitas un campo extra; podemos añadirlo para que tengas a tu disposición personajes relevantes, memorables y completos en tu obra.</p>
                        </div>
                    </div>
            </div>

            <hr>

            <div class="row g-0">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="card-body">
                                <h4 class="pt-3 text-dark">Notas</h4>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="card-body">
                            <p>Mantén un registro completo de anotaciones que te sirven de apoyo para no perder registro de nada. ¿Tu obra necesita más contexto de cierto tema? Puedes añadirlo en una nota, ¿Durante la escritura de un capítulo vino a tu mente la idea para una segunda historia? Añádelo a una nota, no pierdas ninguno de esos valiosos pensamientos.</p>
                        </div>
                    </div>
            </div>

            <hr>

            <div class="row g-0">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="card-body">
                                <h4 class="pt-3 text-dark">Fuentes</h4>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="card-body">
                            <p>Tanto si tu obra es académica como si es ficción, es importante contar con un registro de todas las fuentes que uses en ella, tienes disponible un excelente y completísimo formulario para dar de alta diferentes tipos de fuentes.</p>
                        </div>
                    </div>
            </div>

            <hr>

            <div class="row g-0">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="card-body">
                                <h4 class="pt-3 text-dark">Lista de Tareas</h4>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="card-body">
                            <p>Es importante mantener un orden de prioridades en todas esas tareas pendientes que van surgiendo día a día, para un escritor no es diferente y con esta funcionalidad te briundamos un modo de tener control de todos esos pendientes. Da de alta tu lista, asígnale tareas, máscalas como resueltas y atiende todo según tus prioridades.</p>
                        </div>
                    </div>
            </div>

            <hr>

            <div class="row g-0">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="card-body">
                                <h4 class="pt-3 text-dark">Inspiración</h4>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="card-body">
                            <p>La inspiración es una musa caprichosa que llega cuando menos lo esperas y puede venir en forma de idea, de imagen, de sonido o en cualquier modo extraño en el que quiera presentarse. Tendrás a tu disposición un registro completo de cualquier tipo de inspiración que llegue a tu mente, puedes guardar fotos o textos, el objetivo es que no te olvides de nada y tu obra sea lo más completa posible.</p>
                        </div>
                    </div>
            </div>

            <hr>

            <div class="row g-0">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="card-body">
                                <h4 class="pt-3 text-dark">Línea de Tiempo</h4>
                        </div>
                    </div>

                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="card-body">
                            <p>Una de las funcionades estelares es la <strong>línea de tiempo</strong> con tres tipos de líneas diferentes, puedes controlar los sucesos de tu obra y no caer en fallas de origen que le resten coherencia, sirve también para controlar la exactitud de lo que escribes y para tener un apoyo gráfico en relación a tiempos y sucesos, pruébala ¡Es espectacular!</p>
                        </div>
                    </div>
            </div>

    </div>

    <div class="text-center pt-6 pb-4"><img src="assets/img/about/line.jpg" alt="" class="px-0"></div>

    <div class="row py-6">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <h3 class="py-3 text-orange text-end fs-1 pt-6 pe-3">Blog</h3>
        </div>
    
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 bg-orange text-white">
            <p class="text-center py-4 px-3 fs-5">El blog es una parte importante del servicio que te brindamos en <strong>BookProcess</strong> en él podrás acceder a consejos, manuales, tips y todo lo relacionado al mundo de los escritores. Intentamos inspirarte y motivarte para que tu obra se vea completada de la mejor forma.</p>
        </div>
    </div>

</div>

<app-prefooter></app-prefooter>

<app-footer></app-footer>