<app-navbar></app-navbar>

<div class="container-fluid px-0 bg-header-blog">
  <div class="row me-0 py-6 px-0 bg d-none d-lg-block mt-minus-5px"></div>
  <div class="row me-0 py-7 bg d-none d-lg-block"></div>

  <div class="row me-0 py-7 bg">
    <div class="col">
      <h1 class="text-center text-white py-5">Blog</h1>
    </div>
  </div>

  <div class="row me-0 py-7 bg d-none d-lg-block"></div>
  <div class="row me-0 py-6 bg d-none d-lg-block"></div>
</div>

<div class="container-fluid">
  <div class="row">

    <!-- Category column -->
    <div class="offset-lg-1 offset-md-1 offset-sm-0 offset-xs-0 col-lg-8 col-md-8 col-12 mt-3">

      <div class="text-center py-5"><img src="assets/img/about/line.jpg" alt="" class="px-0"></div>


      <!-- blog -->
      
      <div class="row row-cols-1 row-cols-md-2 row-cols-md-2 g-4">

        <div class="col">
          <div class="h-100 card">
            <img src="assets/img/blog/blog-5.jpeg" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <small class="text-muted text-uppercase">categoria</small>
              <h5 class="card-title fst-italic">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>

      </div>

      <!-- blog -->


      <div class="text-center py-5"><img src="assets/img/about/line.jpg" alt="" class="px-0"></div>

      <!-- pagination -->
      <!-- <div class="row mt-3">
        <div class="col text-center">

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#"><i class="bi bi-chevron-left"></i></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a>
              </li>
            </ul>
          </nav>

        </div>
      </div> -->

    </div>

    <!-- Category column -->
    <div class="col-lg-2 col-md-2 col-12 bg-line-light-gray order-md-last order-first">
      <h1 class="text-center mt-5 mb-4">Categorías</h1>

      <ul class="navbar-nav d-flex flex-column w-100">

        <li>
          <hr class="dropdown-divider ms-4 w-75">
        </li>

        <li class="nav-item text-secondary w-100 ms-4">
          <div class="row">
            <div class="col-5 my-1">categoria 1</div>
            <div class="col-5 text-end my-1 pe-7"><span class="badge rounded-pill bg-dark">3</span></div>
          </div>
        </li>

        <li>
          <hr class="dropdown-divider ms-4 w-75">
        </li>

        <li class="nav-item text-secondary w-100 ms-4">
          <div class="row">
            <div class="col-5 my-1">categoria 1</div>
            <div class="col-5 text-end my-1 pe-7"><span class="badge rounded-pill bg-dark">3</span></div>
          </div>
        </li>

        <li>
          <hr class="dropdown-divider ms-4 w-75">
        </li>

        <li class="nav-item text-secondary w-100 ms-4">
          <div class="row">
            <div class="col-5 my-1">categoria 1</div>
            <div class="col-5 text-end my-1 pe-7"><span class="badge rounded-pill bg-dark">3</span></div>
          </div>
        </li>

        <li>
          <hr class="dropdown-divider ms-4 w-75">
        </li>

      </ul>
    </div>

  </div>

</div>

<app-prefooter></app-prefooter>

<app-footer></app-footer>