<app-navbar></app-navbar>

<div class="container mt-3 mb-3">
    <div class="row g-4">

        <div class="col">
            <h1 class="text-center pt-5 pb-3 fs-2">¿Qué es Book Process?</h1>
            
            <div class="text-center py-4">
                <img class="px-0" src="assets/img/about/line.jpg" alt="">
            </div>

        </div>
        
    </div>
</div>

<div class="container">
    <div class="row">
        <img class="px-0" src="assets/img/about/book_header.jpg" alt="">
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="text-center py-5">
            <img class="px-0" src="assets/img/about/line.jpg" alt="">
        </div>
        
        <div class="offset-lg-3 offset-md-3 offset-sm-0 offset-xs-0 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
            
            <p class="fs-5">Podría escribir un largo monólogo explicando que <strong>BookProcess es una herramienta diseñada por y para escritores</strong>, también alargar la cosa con datos de las tecnologías y servicios utilizados para darle forma pero... <strong>¿Eso en realidad es lo que quieres saber?</strong></p>

            <h5 class="py-5 text-center fs-4">Voy a resumir todo eso en: </h5>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 me-0 pe-0">
            <img class="img-fluid" src="assets/img/about/bottle.jpg" alt="">
        </div>

        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 bg-light-gray my-7">

            <div class="container">
                <div class="row">
                    <div class="offset-lg-2 offset-md-2 offset-sm-12 offset-xs-12 col-md-8 col-sm-12 col-xs-12">
                        <p class="txt-about pt-7 text-end fs-4">Book Process es la primera herramienta que le brinda al escritor <strong>mucho más que un simple editor de texto,</strong> es <strong>la primera vez que alguien piensa en sus necesidades</strong> y la primera vez que alguien se ocupa en que el escritor termine su obra sin perder tiempo organizando sus elementos de apoyo.</p>
            
                    <p class="fs-5 pt-4 text-end">Sin temor a equivocarme, eso es BookProcess: <br> <strong>la mejor opción para tener más posibilidades de terminar tu obra.</strong></p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <h3 class="py-6 text-center">Haz que tu tiempo se mida en capítulos</h3>
    </div>
</div>

<div class="container-fluid bg-about-img">
    <div class="row py-6">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-7">
            <p class="fs-5 text-end p7-5">En <strong>BookProcess</strong> trabajamos para que tú veas tu obra publicada ese es nuestro objetivo, sin embargo; <strong>tú eres el principal protagonista de esta obra</strong>, nosotros te brindamos los elementos necesarios para reunir toda la información y mantener todo bajo control.</p>
        <div class="container">
            <div class="row pb-6">
                <div class="offset-lg-8 offset-md-8 offset-sm-0 offset-xs-0 col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <h3 class="fs-3 text-end">tú haces la magia.</h3>
                </div>
            </div>
        </div>
        </div>
        
    </div>    
</div>

<div class="container">

    <div class="row">
        <h3 class="py-6 text-center">Servidores, redes, tecnología y algo más...</h3>
    </div>

    <div class="row pb-7">
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 bg-light-gray p-7 mb-7">
            <p class="fs-5"><strong>BookProcess</strong> es un cúmulo de ingredientes: pasión, amor, código informático, servidores, diseño y varios más, <strong>pero el más importante es el ser humano</strong>, es una herramienta hecha por humanos con muchas ganas de leer tu obra y seguir creciendo gracias a tu preferencia.</p>

            <p class="fs-5">Recuerda que si necesitas algo más para poder terminar tu obra, nosotros te escuchamos y trataremos de crear esa funcionalidad que puede hacerte más llevadero este camino <strong>¿word te ofrece eso?</strong></p>
        </div>

        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ms-0">
            <img style="margin-left:-3%" src="assets/img/about/machine.jpg" alt="">
        </div>
    </div>

</div>

<app-prefooter></app-prefooter>

<app-footer></app-footer>