<div class="my-5 pb-1 bg-secondary"></div>

<div class="container">

    <div class="row">
        
        <div class="col-md-3 col-sm-12 col-xs-12 text-md-start text-sm-center">
            <h4 class="text-uppercase mb-4 fw-light">Ayuda</h4>
            <ul class="list-unstyled">
                <!-- <li><a class="link-no-line text-dark" href="/help-center">Centro de Ayuda</a></li>
                <li><a class="link-no-line text-dark" href="/help-center">Preguntas Frecuentes</a></li> -->
                <li><a class="link-no-line text-dark" href="/contact">Contacto</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12 text-md-start text-sm-center">
            <h4 class="text-uppercase mb-4 fw-light">Nosotros</h4>
            <ul class="list-unstyled">
                <li><a class="link-no-line text-dark" href="/about">Acerca de</a></li>
                <li><a class="link-no-line text-dark" href="/blog">Blog</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12 text-md-start text-sm-center">
            <h4 class="text-uppercase mb-4 fw-light">Políticas</h4>
            <ul class="list-unstyled">
                <!-- <li><a class="link-no-line text-dark" href="/notice">Aviso de Privacidad</a></li>
                <li><a class="link-no-line text-dark" href="/terms">Términos y Condiciones</a></li>
                <li><a class="link-no-line text-dark" href="/pricing-policies">Políticas de precios</a></li> -->
            </ul>
        </div>

        <div class="col-md-3 text-center">

            <!-- <button style="border-radius:50px;" type="button" class="px-5 py-1 btn btn-info">Regístrate gratis</button> -->

            <ul class="list-unstyled">
                <a class="text-dark link-no-line rs-link" target="_blank" href="#"><i class="fs-2 bi bi-facebook me-2"></i></a>
                <!-- <a class="text-dark link-no-line rs-link" target="_blank" href="https://twitter.com/book_process"><i class="fs-2 bi bi-twitter mx-2"></i></a> -->
                <a class="text-dark link-no-line rs-link" target="_blank" href="#"><i class="fs-2 bi bi-twitter mx-2"></i></a>
                <a class="text-dark link-no-line rs-link" target="_blank" href="#"><i class="fs-2 bi bi-youtube mx-2"></i></a>
                <a class="text-dark link-no-line rs-link" target="_blank" href="#"><i class="fs-2 bi bi-instagram mx-2"></i></a>
            </ul>
            
            <p class="mt-3 px-2">
                <small>Desde 2019 <strong>BookProcess</strong> se ha comprometido con los autores independientes para apoyarlos y motivarlos en el camino de finalizar sus obras. La industria de la literatura está cambiando, sé parte de ese cambio y evoluciona.</small>
            </p>

        </div>

    </div>
</div>